.acf-cloudflare-image-wrapper {
	max-width: 600px;
}

.acf-cloudflare-image-wrapper .acf-input-wrap {
	margin-bottom: 15px;
}

.acf-cloudflare-image-wrapper input {
	width: 100%;
}

.cloudflare-image-preview {
	margin-top: 10px;
}

.preview-image {
	border: 1px solid #ddd;
	border-radius: 4px;
}
